@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {background-color: rgb(252, 238, 238);}

.navbar {
    background-color: rgba(18, 73, 252, 0.658);
    height: 75px;
}

.navbar-brand h1 {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    padding-right: 50px;
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
}

@media (max-width: 400px) {
    .navbar-brand h1 {
        font-size: 1rem;
    }
}