@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {background-color: rgb(252, 238, 238);}

.navbar {
    background-color: rgba(18, 73, 252, 0.658);
    height: 65px;
}

.navbar-brand h1 {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    padding-right: 50px;
    font-weight: 700;
}

button.navbar-toggler {
    padding-top: 0px;
}

.navbar-toggler-icon {
    font-size: 10px;
}


.nav-link {
    font-weight: 700;
}

@media (max-width: 400px) {
    .navbar {
        height: 40px;
    }

    .navbar-brand h1 {
        font-size: 1rem;
    }

    button.navbar-toggler {
        margin-top: -10px;
    }

}